#my-portrait {
    width: 200px;
}

h1 {
    font-family: "courier";
    text-indent: 20px;
    margin-left: 10px;
}


h2 {
    font-family: "courier";
    text-indent: 20px;
    margin-left: 10px;
}
